@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
<div class="container">

    <div class="form-group">

        <div id="partialViewDiv">
            @{Html.RenderPartial("_DisplayScores", Model);}

        </div>
    <br />

    </div>
    <div class="form-group">
       @* add button to pull scores*@
        <button type="button" class="btn btn-primary" id="btnGetCurrentScores">Get Current Scores</button>

    </div>
</div>
